body {
font-family:Charlemagne, Impact, sans-serif;
margin:25px;
}
table {
	width:650px;
	border:1px solid gray;
	background:#ccccaa;
	margin:auto;
}
td {
	padding:5px 10px 5px 10px;
	border:1px dotted gray;
	font-family:sans-serif;
	font-size:12px;
}
th {
	font-family:Georgia;
	font-size:12px;
}
#wrapper {
	width:700px;
	padding:20px;
	border:1px dotted blue;
	background-color: #bbffff;
	border-radius: 18px;
	margin:auto;
}
h3 {
	font-style: italic;
	margin-bottom: 0;
	padding-bottom: 0;
	letter-spacing: 1px;
}
.highlight {
	color:#009999;
}
